@import './common';
@import './example';

* {
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  height: 100vh;
  padding-top: 50px;
  position: relative;
}

.theme {
  background-color: black;
  color: lime;
  border: 3px solid black;
  border-color: lime;
}
.open-modal-btn {
  
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 40px;
  display: block;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
}

.modal-window {
  display: none;
  padding: 100px 90px;
  font-size: 70px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.close-btn{
  text-decoration: underline;
  color: lime;
  background-color: transparent;
  outline: none;
  font-size: 25px;
  border: none;
  position: absolute;
  top:20px;
  right: 20px;
}

.overlay{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}